<div class="container-sm">
  <form (ngSubmit)="onSubmit()">
    <div class="row justify-content-between p-3">
      <div class="col-9">
        <input type="text"
               class="form-control"
               placeholder="name"
               name="movieName"
               [(ngModel)]="movieName">
      </div>
      <div class="col-2">
        <button type="submit"
                class="btn btn-success"
                [disabled]="movieName === '' || isUploading">
          <span *ngIf="!isUploading">Add</span>
          <span *ngIf="isUploading"
                class="spinner-border spinner-border-sm">
           <span class="sr-only">Loading...</span>
         </span>
        </button>
      </div>
    </div>
  </form>
  <hr>
  <p *ngIf="movies">To watch list:</p>
  <p *ngIf="movies.length === 0">Movies list empty</p>
  <div class="list-group p-3 pl-3" *ngIf="!isLoading; else isLoadingSpinner">
    <div class="row justify-content-between align-items-center mb-4" *ngFor="let movie of movies; let i = index">
      <p class="list-group-item col-8 m-0 ml-3">
        <span class="mr-3">{{ movie.name }}</span> # {{i + 1}}
      </p>
      <button class="col-2 btnDelete" (click)="onDelete(movie)">
        <span *ngIf="!isDestroying || deleteId !== movie.id">X</span>
        <span *ngIf="isDestroying && deleteId === movie.id" class="spinner-border-sm spinner-border">
         <span class="sr-only">Loading...</span>
        </span>
      </button>
    </div>
  </div>
  <ng-template #isLoadingSpinner>
    <div *ngIf="isLoading" class="spinner-border">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>
